# Backend Laravel
backend/vendor/
backend/node_modules/
backend/.env
backend/storage/*.key
backend/.phpunit.result.cache
backend/storage/logs/
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/

# Frontend Vue
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.production

# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Autres
.env
.env.backup
.phpunit.result.cache